* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px white;
    }
}

body {
    background-color: black;
    color: white;
    position: relative;

    .mobile-menu {
        position: absolute;
        top: 0.8rem;
        right: 1rem;
        left: 1rem;
        z-index: 10;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0.9rem;

        @media (min-width: 1024px) {
            display: none;
            visibility: hidden;
        }

        nav {
            padding: 0.8rem;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 0.8rem;
                transition: all 0.3s ease-in-out;

                @media (min-width: 496px) {
                    gap: 2rem;
                }

                li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 0.5rem;
                    cursor: pointer;

                    a {
                        color: #62676f;
                        font-size: 0.95rem;
                        transition: all 0.3s ease-in-out;
                    }

                    &.active {
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .desktop-menu {
        position: fixed;
        display: none;
        visibility: hidden;
        top: 37vh;
        right: 1rem;
        z-index: 10;

        .logo {
            position: fixed;
            top: 0;
            right: 0;
            margin: 2rem;
            display: none;
            z-index: 100;

            @media (min-width: 768px) {
                display: block;
            }

            img {
                width: 10vw;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }
        }

        @media (min-width: 1024px) {
            display: block;
            visibility: visible;
        }

        nav {
            padding: 0.8rem;
            ul {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                flex-direction: column;
                gap: 0.2rem;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 0.5rem;
                    cursor: pointer;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 0.5rem;
                        color: #7a808a;
                        font-size: 0.95rem;
                        font-size: 1vw;
                        transition: all 0.3s ease-in-out;
                    }

                    span {
                        display: block;
                        transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);

                        &.line {
                            background-color: #7a808a;
                            width: 1vw;
                            height: 0.1rem;
                            border-radius: 0.8rem;
                        }

                        &.circle {
                            border: 1px solid #7a808a;
                            width: 0.8vw;
                            height: 0.8vw;
                            border-radius: 50%;
                        }
                    }

                    &.active {
                        a {
                            color: white;
                        }

                        span.line {
                            background-color: white;
                            width: 3rem;
                        }

                        span.circle {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }

    header {
        height: 100vh;
        background: url(../images/home_mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -20rem;
        position: relative;

        &::before {
            content: "";
            background: rgba(0, 0, 0, 0.2) linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
        }

        @media (min-width: 425px) {
            background-position: -16rem;
        }

        @media (min-width: 695px) {
            background-position: -8rem;
        }

        @media (min-width: 768px) {
            background-position: -1rem;
            background: url(../images/home_desktop.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
        }

        @media (min-width: 824px) {
            background-position: 0rem;
        }
    }

    main {
        .synopsis {
            position: relative;
            .bg {
                height: 100vh;
                background: url(../images/synopsis.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: -20rem;
                position: relative;
                filter: blur(3px);

                &::before {
                    content: "";
                    background: rgba(0, 0, 0, 0.3) linear-gradient(to top, black, transparent);
                    width: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                }

                @media (min-width: 425px) {
                    background-position: -16rem;
                }

                @media (min-width: 695px) {
                    background-position: -8rem;
                }

                @media (min-width: 768px) {
                    background-position: -1rem;
                }

                @media (min-width: 824px) {
                    background-position: 0rem;
                }
            }

            &-content {
                text-align: justify;
                position: absolute;
                margin: 1rem;
                top: 5rem;
                @media (min-width: 768px) {
                    top: 40vh;
                    margin: 0 4rem;
                }

                @media (min-width: 1024px) {
                    top: 39vh;
                    width: 50vw;
                    left: 6rem;
                    margin: 0;
                }

                p {
                    font-size: 0.8rem;
                    line-height: 2;
                    font-family: "Montserrat", sans-serif;

                    @media (min-width: 1024px) {
                        font-size: 0.9vw;
                    }
                }
            }
        }

        .gallery {
            &-desktop {
                position: relative;
                display: none;

                @media (min-width: 1024px) {
                    display: block;
                }
                .bg {
                    height: 100vh;
                    background: url(../images/gallery_3.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: -20rem;
                    position: relative;
                    transition: all 0.3s ease-in-out;

                    &::before {
                        content: "";
                        background: rgba(0, 0, 0, 0.1) linear-gradient(to top, rgb(0, 0, 0), transparent);
                        width: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        position: absolute;
                    }

                    @media (min-width: 425px) {
                        background-position: -16rem;
                    }

                    @media (min-width: 695px) {
                        background-position: -8rem;
                    }

                    @media (min-width: 768px) {
                        background-position: -1rem;
                    }

                    @media (min-width: 824px) {
                        background-position: 0rem;
                    }
                }

                .slider {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 5rem;
                    margin: 0 2rem;

                    .slides {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 1rem;

                        img {
                            width: 14vw;
                            cursor: pointer;
                            border-radius: 0.3rem;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                transform: scale(1.05);
                                box-shadow: 0 0 1px 2px #256580;
                            }

                            &.selected {
                                box-shadow: 0 0 1px 2px #256580;
                            }
                        }
                    }
                }
            }

            &-mobile {
                display: block;

                @media (min-width: 1024px) {
                    display: none;
                }
                .bg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    img {
                        position: relative;
                        object-fit: cover;
                        display: block;
                        border-radius: 0.8rem;
                        margin: 1rem;
                        width: 90%;

                        &::before {
                            content: "";
                            background: rgba(0, 0, 0, 0.1) linear-gradient(to top, rgb(0, 0, 0), transparent);
                            width: 100%;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            position: absolute;
                        }
                    }

                    @media (min-width: 425px) {
                        background-position: -16rem;
                    }

                    @media (min-width: 695px) {
                        background-position: -8rem;
                    }

                    @media (min-width: 768px) {
                        background-position: -1rem;
                    }

                    @media (min-width: 824px) {
                        background-position: 0rem;
                    }
                }
            }
        }

        .trailer {
            position: relative;

            .bg {
                height: 100vh;
                background: url(../images/trailer.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: -20rem;
                position: relative;
                transition: all 0.3s ease-in-out;
                filter: blur(3px);

                &::before {
                    content: "";
                    background: rgba(0, 0, 0, 0.5) linear-gradient(to top, black, transparent);
                    width: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                }

                @media (min-width: 425px) {
                    background-position: -16rem;
                }

                @media (min-width: 695px) {
                    background-position: -8rem;
                }

                @media (min-width: 768px) {
                    background-position: -1rem;
                }

                @media (min-width: 824px) {
                    background-position: 0rem;
                }
            }
            .video {
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                iframe {
                    width: 100%;
                    height: 20rem;
                    margin: 1rem;
                    border: 3px double #256580;

                    @media (min-width: 768px) {
                        width: 55rem;
                        height: 31rem;
                        padding: 1.5rem;
                    }

                    @media (min-width: 1024px) {
                        width: 60vw;
                        height: 80vh;
                        padding: 1.5rem;
                    }
                    border-radius: 1rem;
                }
            }
        }

        .cast {
            position: relative;

            &-desktop {
                display: none;

                @media (min-width: 1024px) {
                    display: block;
                }
                .bg {
                    height: 100vh;
                    background: url(../images/cast.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;

                    position: relative;
                    filter: blur(3px);

                    &::before {
                        content: "";
                        background: rgba(0, 0, 0, 0.3) linear-gradient(to top, black, transparent);
                        width: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        position: absolute;
                    }
                }

                .cast-characters {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    top: 0;
                    right: 5rem;
                    gap: 2rem;
                    .characters-image {
                        border: 3px double black;
                        border-radius: 1rem;
                        overflow: hidden;

                        img {
                            width: 40vw;
                            transform: translateY(0.4rem);
                            filter: drop-shadow(8px 1px 2px black);
                            transition: all 0.3s ease-in-out;
                        }
                    }

                    .characters-content {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-direction: column;
                        width: 39vw;
                        gap: 2vh;

                        .content-desc {
                            text-align: justify;
                            height: 50vh;

                            p {
                                margin: 1.2rem 0;
                                line-height: 2;
                                font-family: "Montserrat", sans-serif;

                                @media (min-width: 1024px) {
                                    font-size: 0.9vw;
                                }
                            }

                            .desc {
                                display: none;

                                &.visible {
                                    display: block;
                                }
                            }
                        }

                        .content-characters {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 2vw;

                            .card {
                                cursor: pointer;
                                width: 8vw;
                                transition: all 0.3s ease-in-out;

                                img {
                                    transform: translateY(0.4rem);
                                    width: 8vw;
                                    filter: grayscale(100%);
                                    transition: all 0.3s ease-in-out;
                                }

                                .details {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 1rem;
                                    margin-top: 1rem;

                                    span {
                                        display: block;
                                        transition: all 0.3s ease-in-out;

                                        &.line {
                                            background-color: #c2c4cd;
                                            width: 2vw;
                                            height: 0.2rem;
                                            display: none;
                                        }

                                        &.middle {
                                            border: 1.6px solid #c2c4cd;
                                            width: 0.9vw;
                                            height: 0.9vw;
                                            transform: rotate(45deg);
                                        }
                                    }
                                }

                                &.active {
                                    transform: scale(1.1);
                                    img {
                                        transform: translateY(0.4rem);
                                        border: 2px solid #c2c4cd;
                                        background: rgba(19, 23, 29, 0.2);
                                        filter: grayscale(0%);
                                    }

                                    .details {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        gap: 0.6rem;
                                        margin-top: 1rem;

                                        span {
                                            display: block;

                                            &.line {
                                                background-color: #c2c4cd;
                                                width: 2vw;
                                                height: 0.1rem;
                                                display: block;
                                            }

                                            &.middle {
                                                width: 0.9vw;
                                                height: 0.9vw;
                                                transform: rotate(45deg);
                                                background-color: #c2c4cd;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-mobile {
                display: block;

                @media (min-width: 1024px) {
                    display: none;
                }

                .bg {
                    height: 110vh;
                    background: url(../images/cast.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    filter: blur(2px);

                    @media (min-width: 375px) {
                        height: 100vh;
                    }

                    &::before {
                        content: "";
                        background: rgba(0, 0, 0, 0.2);
                        width: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        position: absolute;
                    }
                }

                .cast-slider {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    button {
                        border: 0;
                        outline: 0;
                        font-size: 2rem;
                        color: #c2c4cd;
                        background: transparent;
                        padding: 0.8rem;
                    }

                    .slides {
                        .card {
                            margin: 0.5rem 1rem;
                            text-align: justify;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;

                            p {
                                margin: 1.2rem 0;
                                line-height: 1.2;
                                font-size: 0.8rem;
                                font-family: "Montserrat", sans-serif;
                            }

                            .desc {
                                height: 70vh;

                                @media (min-width: 375px) {
                                    height: 60vh;
                                }
                            }

                            .card-border {
                                img {
                                    transform: translateY(0.4rem);
                                    border: 2px solid #c2c4cd;
                                    background: rgba(19, 23, 29, 0.2);
                                    filter: grayscale(0%);
                                    width: 7rem;
                                }

                                .details {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 0.6rem;
                                    margin-top: 0.5rem;

                                    span {
                                        display: block;

                                        &.line {
                                            background-color: #c2c4cd;
                                            width: 2rem;
                                            height: 0.1rem;
                                            display: block;
                                        }

                                        &.middle {
                                            width: 0.92rem;
                                            height: 0.92rem;
                                            transform: rotate(45deg);
                                            background-color: #c2c4cd;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 3rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        text-align: center;

        p,
        a,
        span {
            font-family: "Montserrat", sans-serif;
            text-transform: lowercase;
        }

        span {
            display: block;
        }

        a {
            color: #256580;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: #3a8eb3;
            }
        }
    }
}
