* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px white;
          box-shadow: inset 0 0 6px white;
}

body {
  background-color: black;
  color: white;
  position: relative;
}

body .mobile-menu {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  left: 1rem;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.9rem;
}

@media (min-width: 1024px) {
  body .mobile-menu {
    display: none;
    visibility: hidden;
  }
}

body .mobile-menu nav {
  padding: 0.8rem;
}

body .mobile-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 496px) {
  body .mobile-menu nav ul {
    gap: 2rem;
  }
}

body .mobile-menu nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5rem;
  cursor: pointer;
}

body .mobile-menu nav ul li a {
  color: #62676f;
  font-size: 0.95rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .mobile-menu nav ul li.active a {
  color: white;
}

body .desktop-menu {
  position: fixed;
  display: none;
  visibility: hidden;
  top: 37vh;
  right: 1rem;
  z-index: 10;
}

@media (min-width: 1024px) {
  body .desktop-menu {
    display: block;
    visibility: visible;
  }
}

body .desktop-menu nav {
  padding: 0.8rem;
}

body .desktop-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2rem;
}

body .desktop-menu nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5rem;
  cursor: pointer;
}

body .desktop-menu nav ul li a {
  color: #7a808a;
  font-size: 0.95rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .desktop-menu nav ul li span {
  display: block;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

body .desktop-menu nav ul li span.line {
  background-color: #7a808a;
  width: 1rem;
  height: 0.1rem;
  border-radius: 0.8rem;
}

body .desktop-menu nav ul li span.circle {
  border: 1px solid #7a808a;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.8rem;
}

body .desktop-menu nav ul li.active a {
  color: white;
}

body .desktop-menu nav ul li.active span.line {
  background-color: white;
  width: 3rem;
}

body .desktop-menu nav ul li.active span.circle {
  background-color: white;
}

body header {
  height: 100vh;
  background: url(../images/home_mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20rem;
  position: relative;
}

body header::before {
  content: "";
  background: rgba(0, 0, 0, 0.2) -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(transparent));
  background: rgba(0, 0, 0, 0.2) linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@media (min-width: 425px) {
  body header {
    background-position: -16rem;
  }
}

@media (min-width: 695px) {
  body header {
    background-position: -8rem;
  }
}

@media (min-width: 768px) {
  body header {
    background-position: -1rem;
    background: url(../images/home_desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
}

@media (min-width: 824px) {
  body header {
    background-position: 0rem;
  }
}

body main .synopsis {
  position: relative;
}

body main .synopsis .bg {
  height: 100vh;
  background: url(../images/synopsis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20rem;
  position: relative;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

body main .synopsis .bg::before {
  content: "";
  background: rgba(0, 0, 0, 0.3) -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: rgba(0, 0, 0, 0.3) linear-gradient(to top, black, transparent);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@media (min-width: 425px) {
  body main .synopsis .bg {
    background-position: -16rem;
  }
}

@media (min-width: 695px) {
  body main .synopsis .bg {
    background-position: -8rem;
  }
}

@media (min-width: 768px) {
  body main .synopsis .bg {
    background-position: -1rem;
  }
}

@media (min-width: 824px) {
  body main .synopsis .bg {
    background-position: 0rem;
  }
}

body main .synopsis-content {
  text-align: justify;
  position: absolute;
  margin: 1rem;
  top: 5rem;
}

@media (min-width: 768px) {
  body main .synopsis-content {
    top: 40vh;
    margin: 0 4rem;
  }
}

@media (min-width: 1024px) {
  body main .synopsis-content {
    top: 39vh;
    width: 43rem;
    left: 6rem;
    margin: 0;
  }
}

body main .synopsis-content p {
  font-size: 0.8rem;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
}

body main .gallery-desktop {
  position: relative;
  display: none;
}

@media (min-width: 1024px) {
  body main .gallery-desktop {
    display: block;
  }
}

body main .gallery-desktop .bg {
  height: 100vh;
  background: url(../images/gallery_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20rem;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body main .gallery-desktop .bg::before {
  content: "";
  background: rgba(0, 0, 0, 0.1) -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: rgba(0, 0, 0, 0.1) linear-gradient(to top, black, transparent);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@media (min-width: 425px) {
  body main .gallery-desktop .bg {
    background-position: -16rem;
  }
}

@media (min-width: 695px) {
  body main .gallery-desktop .bg {
    background-position: -8rem;
  }
}

@media (min-width: 768px) {
  body main .gallery-desktop .bg {
    background-position: -1rem;
  }
}

@media (min-width: 824px) {
  body main .gallery-desktop .bg {
    background-position: 0rem;
  }
}

body main .gallery-desktop .slider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5rem;
  margin: 0 2rem;
}

body main .gallery-desktop .slider .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

body main .gallery-desktop .slider .slides img {
  width: 11rem;
  cursor: pointer;
  border-radius: 0.3rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body main .gallery-desktop .slider .slides img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 1px 2px #256580;
          box-shadow: 0 0 1px 2px #256580;
}

body main .gallery-desktop .slider .slides img.selected {
  -webkit-box-shadow: 0 0 1px 2px #256580;
          box-shadow: 0 0 1px 2px #256580;
}

body main .gallery-desktop .logo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  display: none;
}

@media (min-width: 1024px) {
  body main .gallery-desktop .logo {
    display: block;
  }
}

body main .gallery-desktop .logo img {
  width: 19rem;
}

body main .gallery-mobile {
  display: block;
}

@media (min-width: 1024px) {
  body main .gallery-mobile {
    display: none;
  }
}

body main .gallery-mobile .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .gallery-mobile .bg img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 0.8rem;
  margin: 1rem;
  width: 90%;
}

body main .gallery-mobile .bg img::before {
  content: "";
  background: rgba(0, 0, 0, 0.1) -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: rgba(0, 0, 0, 0.1) linear-gradient(to top, black, transparent);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@media (min-width: 425px) {
  body main .gallery-mobile .bg {
    background-position: -16rem;
  }
}

@media (min-width: 695px) {
  body main .gallery-mobile .bg {
    background-position: -8rem;
  }
}

@media (min-width: 768px) {
  body main .gallery-mobile .bg {
    background-position: -1rem;
  }
}

@media (min-width: 824px) {
  body main .gallery-mobile .bg {
    background-position: 0rem;
  }
}

body main .trailer {
  position: relative;
}

body main .trailer .video {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .trailer .video iframe {
  width: 100%;
  height: 20rem;
  margin: 1rem;
  -webkit-box-shadow: 0 0 1px 2px #256580;
          box-shadow: 0 0 1px 2px #256580;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  body main .trailer .video iframe {
    width: 55rem;
    height: 31rem;
    padding: 1.5rem;
  }
}

body main .cast {
  position: relative;
}

body main .cast-desktop {
  display: none;
}

@media (min-width: 1024px) {
  body main .cast-desktop {
    display: block;
  }
}

body main .cast-desktop .bg {
  height: 100vh;
  background: url(../images/cast.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20rem;
  position: relative;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

body main .cast-desktop .bg::before {
  content: "";
  background: rgba(0, 0, 0, 0.3) -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: rgba(0, 0, 0, 0.3) linear-gradient(to top, black, transparent);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@media (min-width: 425px) {
  body main .cast-desktop .bg {
    background-position: -16rem;
  }
}

@media (min-width: 695px) {
  body main .cast-desktop .bg {
    background-position: -8rem;
  }
}

@media (min-width: 768px) {
  body main .cast-desktop .bg {
    background-position: -1rem;
  }
}

@media (min-width: 824px) {
  body main .cast-desktop .bg {
    background-position: 0rem;
  }
}

body main .cast-desktop .kratos {
  position: absolute;
  bottom: 0;
  left: 0;
}

body main .cast-desktop .kratos img {
  width: 40rem;
}

body main .cast-desktop-content {
  text-align: justify;
  position: absolute;
  margin: 1rem;
  top: 5rem;
}

@media (min-width: 768px) {
  body main .cast-desktop-content {
    top: 40vh;
    margin: 0 4rem;
  }
}

@media (min-width: 1024px) {
  body main .cast-desktop-content {
    top: 39vh;
    width: 43rem;
    left: 6rem;
    margin: 0;
  }
}

body main .cast-desktop-content p {
  font-size: 0.8rem;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
}

body main .cast-mobile {
  display: block;
}

@media (min-width: 1024px) {
  body main .cast-mobile {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */